.header {
    background: #F5F0D2;
    padding: 15px 0;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .burger-button {
            display: none;
        }

        .shadow {
            position: absolute;
            z-index: 3;
            width: 0;
            height: 100vh;
            top: 0;
            right: 0;
            transition: all ease 0.5s;
        }

        .mobile-menu {
            position: absolute;
            z-index: 3;
            width: 0;
            height: 100vh;
            top: -100%;
            right: -50%;
            transition: all ease 0.5s;
        }
    }

    &-link {
        display: flex;
        flex-wrap: wrap;
        list-style: none;

        &-item {
            padding: 15px;
            &.language{
                select{
                    outline: none;
                    background: transparent;
                    border-radius: 25px;
                    border: none;
                    color: #96912D;
                }
            }

            &:last-child {
                padding-right: 0;
            }

            a {
                font-family: "Inria Sans", sans-serif;
                color: #96912D;
                transition: all ease 1s;

                &:hover {
                    color: #48440c;
                    text-decoration: underline;
                }
            }

            &.active {
                a {
                    color: #48440c;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        .container {
            .shadow {
                position: absolute;
                z-index: 3;
                width: 0;
                top: 0;
                right: 0;
                transition: all ease 0.5s;

                &.active {
                    width: 100%;
                    transition: all ease 0.5s;
                    background: #69661E79;
                }
            }

            .burger-button {
                position: relative;
                display: block;
                background: none;
                border: none;
                outline: none;
                z-index: 5;

                .a, .b, .c {
                    width: 50px;
                    height: 4px;
                    margin: 5px 0;
                    background: black;
                    transition: all ease 0.5s;
                }

                &.active {
                    .a {
                        transform: translateY(10px) rotate(45deg);
                    }

                    .b {
                        opacity: 0;
                    }

                    .c {
                        transform: translateY(-10px) rotate(-45deg);

                    }
                }
            }
            .mobile-menu{
                &.active{
                    width: 50%;
                    background: #48440c;
                    padding: 100px;
                    right: 0;
                    top: 0;
                }
                &-list{
                    list-style: none;
                    &-item{
                        a{
                            text-decoration: none;
                            color: #FFFFFF;
                            display: inline-block;
                            padding: 10px 0;
                        }
                    }
                }
            }
        }

        &-link {
            display: none;
        }
    }
}
